.nav-color-custom {
    background-color: #4aaaa5;
    color: #fff;
}

body {
    background-image: url("../assets/pictures/white-waves.png")
}

.theme-color-custom {
    color: #4aaaa5;
}

.bio-pic-size {
    width: 100%;
}